* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

/* All content on website */
.v132_618 {
  width: 100%;
  height: 3950px;
  background: rgba(0,19,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

/* Header */
.v132_783 {
  width: 100%;
  height: 149px;
  background: rgba(0,19,37,0.6000000238418579);
  padding: 2px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

/* Header content */
.v132_784 {
  width: 100%;
  height: 145px;
  background: url("../images/v132_784.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 40px 40px;
  margin: 440px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}

/* Header logo container */
.v132_793 {
  width: 320px;
  height: 65px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 40px;
  overflow: hidden;
}

/* Header logo */
/* Logo should be a img file in HTML instead of a background img in CSS. Also, the img file isn't in the kunskapgapet foulder yet */
.v132_794 {
  width: 320px;
  height: 65px;
  background: url("../images/v132_794.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

/* Header navigation */
.v132_786 {
  width: 660px;
  height: 43px;
  background: rgba(255,255,255,1);
  padding: 8px 8px;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 740px;
  overflow: hidden;
}

/* Nav object 1 */
/* Instead of absolute position and CSS for every object, we should use the same CSS for every object */
.v132_787 {
  width: 98px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 8px;
  left: 8px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

/* Nav object 2 */
/* Instead of absolute position and CSS for every object, we should use the same CSS for every object */
.v132_788 {
  width: 79px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 8px;
  left: 146px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

/* Nav object 3 */
/* Instead of absolute position and CSS for every object, we should use the same CSS for every object */
.v132_789 {
  width: 182px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 8px;
  left: 265px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

/* Nav object 4 */
/* Instead of absolute position and CSS for every object, we should use the same CSS for every object */
.v132_790 {
  width: 71px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 8px;
  left: 487px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

/* Nav object 5 */
/* Instead of absolute position and CSS for each nav object, we should use the same CSS for every object */
.v132_791 {
  width: 54px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 8px;
  left: 598px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

/* Container of welcome and start quiz */
.v132_620 {
  width: 100%;
  height: 573px;
  background: url("../images/v132_620.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 0px;
  overflow: hidden;
}

/* Container of welcome and start quiz text and button */
.v132_621 {
  width: 620px;
  height: 373px;
  background: url("../images/v132_621.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 100px;
  overflow: hidden;
}

/* Container 2 of welcome and start quiz text and button */
.v132_622 {
  width: 620px;
  height: 373px;
  background: url("../images/v132_622.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

/* Title */
.v132_623 {
  width: 536px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Light;
  font-size: 81px;
  opacity: 1;
  text-align: left;
}

/* Slogan */
.v132_624 {
  width: 620px;
  color: rgba(204,214,224,1);
  position: absolute;
  top: 158px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}

/* Start quiz button */
.v132_797 {
  width: 520px;
  height: 89px;
  background: rgba(255,222,234,1);
  padding: 20px 20px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}

/* Start quiz button text */
.v132_798 {
  width: 480px;
  color: rgba(0,19,37,1);
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

/* 3D object container */
.v132_795 {
  width: 480px;
  height: 480px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 860px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

/* 3D object */
.v132_796 {
  width: 480px;
  height: 480px;
  background: url("../images/v132_796.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

/* Congratulations container */
.v132_627 {
  width: 100%;
  height: 528px;
  background: url("../images/v132_627.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 722px;
  left: 0px;
  overflow: hidden;
}

/* Congratulations container 2 */
.v132_628 {
  width: 620px;
  height: 328px;
  background: url("../images/v132_628.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 410px;
  overflow: hidden;
}

/* Title "congratulations" */
.v132_629 {
  width: 136px;
  color: rgba(204,214,224,1);
  position: absolute;
  top: 0px;
  left: 242px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}

/* Text and quote container */
.v132_630 {
  width: 620px;
  height: 234px;
  background: url("../images/v132_630.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 0px;
  overflow: hidden;
}

/* Text and quote */
.v132_631 {
  width: 620px;
  color: rgba(204,214,224,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 29px;
  opacity: 1;
  text-align: center;
}

/* "More quiz" container */
.v132_632 {
  width: 100%;
  height: 723px;
  background: url("../images/v132_632.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1250px;
  left: 0px;
  overflow: hidden;
}

/* More quiz container 2 */
.v132_633 {
  width: 100%;
  height: 523px;
  background: url("../images/v132_633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 56px;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 217px;
  overflow: hidden;
}
.v132_634 {
  width: 620px;
  height: 131px;
  background: url("../images/v132_634.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 194px;
  overflow: hidden;
}
.v132_635 {
  width: 187px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 0px;
  left: 217px;
  font-family: Open Sans;
  font-weight: Light;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v132_636 {
  width: 620px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 92px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 29px;
  opacity: 1;
  text-align: center;
}
.v132_637 {
  width: 100%;
  height: 336px;
  background: rgba(255,255,255,1);
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 0px;
  overflow: hidden;
}
.v132_801 {
  width: 55px;
  height: 60px;
  background: url("../images/v132_801.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 17px;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 0px;
  overflow: hidden;
}
.v132_802 {
  width: 21px;
  height: 36px;
  background: rgba(253,254,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 17px;
}
.v132_639 {
  width: 768px;
  height: 336px;
  background: rgba(255,255,255,1);
  margin: 64px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 120px;
  overflow: hidden;
}
.v132_821 {
  width: 200px;
  height: 280px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v132_822 {
  width: 199px;
  height: 280px;
  background: linear-gradient(rgba(255,255,255,0.20000000298023224), rgba(255,255,255,0));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border: 2px solid linear-gradient(rgba(254,254,254,1), rgba(239,239,239,0));
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v132_823 {
  width: 186px;
  height: 280px;
  background: url("../images/v132_823.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 24px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
  overflow: hidden;
}
.v132_824 {
  width: 138px;
  height: 123px;
  background: url("../images/v132_824.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v132_825 {
  width: 110px;
  height: 45px;
  background: rgba(255,255,255,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 39px;
  overflow: hidden;
}
.v132_826 {
  width: 71px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v132_827 {
  width: 110px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v132_828 {
  width: 138px;
  height: 40px;
  background: rgba(253,254,255,1);
  padding: 12px 12px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v132_829 {
  width: 114px;
  color: rgba(0,19,37,1);
  position: absolute;
  top: 12px;
  left: 12px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v132_812 {
  width: 240px;
  height: 336px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 264px;
  box-shadow: 0px 9.600000381469727px 28px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v132_813 {
  width: 239px;
  height: 336px;
  background: linear-gradient(rgba(255,255,255,0.20000000298023224), rgba(255,255,255,0));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border: 2.4000000953674316px solid linear-gradient(rgba(254,254,254,1), rgba(239,239,239,0));
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  overflow: hidden;
}
.v132_814 {
  width: 223px;
  height: 336px;
  background: url("../images/v132_814.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 28px 28px;
  margin: 14px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  overflow: hidden;
}
.v132_815 {
  width: 165px;
  height: 147px;
  background: url("../images/v132_815.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 29px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.v132_816 {
  width: 132px;
  height: 53px;
  background: rgba(255,255,255,1);
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 46px;
  overflow: hidden;
}
.v132_817 {
  width: 85px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v132_818 {
  width: 132px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 37px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v132_819 {
  width: 165px;
  height: 48px;
  background: rgba(253,254,255,1);
  padding: 14px 14px;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 258px;
  left: 29px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 9.600000381469727px 28px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v132_820 {
  width: 137px;
  color: rgba(0,19,37,1);
  position: absolute;
  top: 14px;
  left: 15px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v132_803 {
  width: 200px;
  height: 280px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 568px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v132_804 {
  width: 199px;
  height: 280px;
  background: linear-gradient(rgba(255,255,255,0.20000000298023224), rgba(255,255,255,0));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border: 2px solid linear-gradient(rgba(254,254,254,1), rgba(239,239,239,0));
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v132_805 {
  width: 186px;
  height: 280px;
  background: url("../images/v132_805.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 24px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
  overflow: hidden;
}
.v132_806 {
  width: 138px;
  height: 123px;
  background: url("../images/v132_806.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v132_807 {
  width: 110px;
  height: 45px;
  background: rgba(255,255,255,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 39px;
  overflow: hidden;
}
.v132_808 {
  width: 71px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v132_809 {
  width: 110px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v132_810 {
  width: 138px;
  height: 40px;
  background: rgba(253,254,255,1);
  padding: 12px 12px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v132_811 {
  width: 114px;
  color: rgba(0,19,37,1);
  position: absolute;
  top: 12px;
  left: 12px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v132_799 {
  width: 55px;
  height: 60px;
  background: url("../images/v132_799.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 17px;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 952px;
  overflow: hidden;
}
.v132_800 {
  width: 21px;
  height: 36px;
  background: rgba(253,254,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 17px;
}
.v132_644 {
  width: 100%;
  height: 1379px;
  background: rgba(0,19,37,1);
  padding: 80px 80px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1973px;
  left: 0px;
  overflow: hidden;
}
.v132_645 {
  width: 100%;
  height: 609px;
  background: url("../images/v132_645.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 80px;
  overflow: hidden;
}
.v132_830 {
  width: 343px;
  height: 609px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 343px;
  overflow: hidden;
}
.v132_831 {
  width: 343px;
  height: 609px;
  background: url("../images/v132_831.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_647 {
  width: 927px;
  height: 401px;
  background: url("../images/v132_647.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 40px 40px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 353px;
  overflow: hidden;
}
.v132_648 {
  width: 847px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 40px;
  left: 40px;
  font-family: Open Sans;
  font-weight: Light;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v132_649 {
  width: 847px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 140px;
  left: 40px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v132_650 {
  width: 847px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 307px;
  left: 40px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v132_651 {
  width: 1000px;
  height: 600px;
  background: url("../images/v132_651.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 699px;
  left: 220px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v132_652 {
  width: 100%;
  height: 596px;
  background: url("../images/v132_652.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 100px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 3353px;
  left: 0px;
  overflow: hidden;
}
.v132_653 {
  width: 1000px;
  height: 396px;
  background: url("../images/v132_653.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 80px;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 220px;
  overflow: hidden;
}
.v132_654 {
  width: 1000px;
  height: 236px;
  background: url("../images/v132_654.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 80px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_832 {
  width: 500px;
  height: 102px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 250px;
  overflow: hidden;
}
.v132_833 {
  width: 500px;
  height: 102px;
  background: url("../images/v132_833.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_656 {
  width: 1000px;
  color: rgba(253,254,255,1);
  position: absolute;
  top: 182px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v132_657 {
  width: 695px;
  height: 80px;
  background: url("../images/v132_657.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 43px;
  opacity: 1;
  position: absolute;
  top: 316px;
  left: 153px;
  overflow: hidden;
}
.v132_840 {
  width: 80px;
  height: 80px;
  background: url("../images/v132_840.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_841 {
  width: 80px;
  height: 80px;
  background: rgba(253,254,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v132_836 {
  width: 80px;
  height: 78px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 124px;
  overflow: hidden;
}
.v132_837 {
  width: 80px;
  height: 78px;
  background: rgba(253,254,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v132_838 {
  width: 80px;
  height: 80px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 247px;
  overflow: hidden;
}
.v132_839 {
  width: 80px;
  height: 80px;
  background: rgba(253,254,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v132_834 {
  width: 80px;
  height: 80px;
  background: rgba(255,255,255,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 370px;
  overflow: hidden;
}
.v132_835 {
  width: 80px;
  height: 80px;
  background: rgba(253,254,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v132_842 {
  width: 80px;
  height: 75px;
  background: rgba(255,255,255,1);
  padding: 5px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 493px;
  overflow: hidden;
}
.v132_843 {
  width: 80px;
  height: 65px;
  background: rgba(253,254,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
}
.v132_844 {
  width: 80px;
  height: 80px;
  background: rgba(255,255,255,1);
  padding: 10px 0px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 616px;
  overflow: hidden;
}
.v132_845 {
  width: 80px;
  height: 60px;
  background: rgba(253,254,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
}
