* {
    /* Makes all text "white" */
    color: #FDFEFF;
    font-family: open sans, sans serif;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: relative;
    width: 100%;

    background: #001325;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: 80px;
}

h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 81px;
    line-height: 110px;
    letter-spacing: -1.5px;
    margin: 12px 0px;
}

h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    letter-spacing: -0.5px;
    margin: 12px 0px;
}

h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    margin: 12px 0px;
}

h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 39px;
    letter-spacing: 0.0025em;
    margin: 12px 0px;
}

h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    margin: 12px 0px;
}

h6, .navbar li a {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.15px;
    text-decoration: none;
    margin-bottom: 8px;
}

#caption {
    font-style: normal; 
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.btn-small {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14.4px;

    position: static;
    width: 165.94px;
    height: 48.8px;

    margin-bottom: 40px;

    /* neutral/white/main */

    background: #FDFEFF;
    box-shadow: 0px 19.2px 48px rgba(51, 51, 51, 0.2), 0px 9.6px 28.8px rgba(0, 0, 0, 0.15);
    border-radius: 6.85714px;

    color: #001325;
}

.btn-big {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;

    width: 480px;
    height: 72px;
    background: #FFDEEA;

    /* drop shadow/pink */
    box-shadow: 0px 16px 40px rgba(138, 8, 53, 0.2), 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.btn-big a {
    color: #001325;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-decoration: none;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    position: absolute;
    width: -webkit-fill-available;        
    background-color: rgba(0, 19, 37, 0.6);
}

.header-logo-container {
    width: 240px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header-logo {
    /* Added to make img the same size as container */
    width: inherit;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.navbar li {
    color: #FDFEFF;

    /* Makes list horizontal */
    display: inline;

    /* Margin between li objects */
    margin: 0px 16px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.3D-object img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.halfpage-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
    max-width: 600px;
}

.wholepage-text-container {
    width: 50%;
    flex: none;
    height: 100%;
    text-align: center;
}

#stars {
    position: absolute;
    height: 600px;
    left: 0px;
    width: 100%;

    z-index: -1;
    opacity: 1;
}

.more-quiz-container {
    flex-direction: column;
    text-align: center;
}

.more-quiz-text-container {
    margin: 40px;
}

.carousel-container {
    width: 100%;
    text-align: -webkit-center;
}

.om-kunskapsgapet-container {
    margin-top: 400px;
}

.about-ic-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-ic-logo-container {
    width: 300px;
    margin: auto;
    margin-bottom: 40px;
}

.about-ic-logo-container img {
    width: 100%;
}

.logos {
    display: flex;
    flex-direction: row;
}

.logos img {
    margin: 20px;
}

.quiz-site {
    position: absolute;
}

.frame-quiz {
    position: absolute;
    margin-top: 100px;
}